{% if ticker_items is not empty %}
    <div class="ticker" id="{{ ticker_id }}"
            {% if background_color is not empty %}
                style="background-color: {{ background_color }} !important;"
            {% endif %}
    >
        <ul style="animation-duration: {{ duration }};">
            <li>&ZeroWidthSpace;</li>
            {% for item in ticker_items %}
                {% if separator is not empty %}
                    <li>{{ separator }}</li>
                {% endif %}
                <li>{{ item|raw }}</li>
            {% endfor %}
        </ul>
        <ul aria-hidden="true" style="animation-duration: {{ duration }};">
            <li>&ZeroWidthSpace;</li>
            {% for item in ticker_items %}
                {% if separator is not empty %}
                    <li>{{ separator }}</li>
                {% endif %}
                <li>{{ item|raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}